@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  /* Сделаем скроллбар тонким и темным в стиле сайта */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #09090b; 
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}